@import "variables";
@import "default";

/* App styles starting here!!! */
.header{
    height: 50px;
    width: 100%;
    background-color: var(--color-main);
    color: white;
    text-align: center;
    font-size: larger;
}

.header-title{
    padding: 15px 0px;
}

.main-container{
    height: calc(100% - 50px);
}

.home-page-cont{
    text-align: center;
}

.home-page-content-wrapper{
    height: 70%;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    vertical-align: middle;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    margin: auto;
}

.card-type-list-cont{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}

.upcoming-card-types{
    display: flex;
    flex: 2;
    flex-direction: column;
    align-content: space-evenly;
}

ul.link li{
    height: max-content;
    @include linkButton();
}

.upcoming-card-type-list-cont{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.upcoming-types-text{
    padding: 5px;
    font-style: italic;
    font-size: 16px;
}

// Menu card creation styles
.create-menu-form-cont{
    display: flex;
    align-content: center;
    justify-content: center;
    overflow-y: auto;
}

.create-menu-form{
    height: 90%;
    width: 90%;
    max-width: 500px;
    margin: auto;
    padding: 25px 15px 15px 15px;
    border: 1px var(--color-main) solid;
    box-shadow: 0 0 10px var(--color-main);
    border-radius: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}

.menu-card-items-cont{
    &.list-view{
        transition: all .5s ease-in-out;
        flex-direction: column;
        .menu-item-details{
            flex-direction: row;
            transition: all .5s ease-in-out;
        }
        .menu-item{
            padding: 10px 5px;
            transition: all .5s ease-in-out;
            &:nth-child(even){
                background-color: rgb(233, 233, 233);
            }
            &:nth-child(odd){
                background-color: rgb(222, 222, 222);
            }
        }
        .menu-item-name{
            width: 60%;
            transition: all .5s ease-in-out;
        }
        .menu-item-quantity, .menu-item-price{
            width: 20%;
            transition: all .5s ease-in-out;
        }
    }
    &.grid-view{
        transition: all .5s ease-in-out;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .menu-item{
            background-color: rgb(222, 222, 222);
            padding: 20px 5px;
            transition: all .5s ease-in-out;
        }
        .menu-item-details{
            flex-direction: column;
            align-items: center;
            transition: all .5s ease-in-out;
        }
        .menu-item-name{
            width: 100%;
            padding: 2px 5px;
            transition: all .5s ease-in-out;
        }
        .menu-item-quantity, .menu-item-price{
            width: 50%;
            padding: 2px 5px;
            transition: all .5s ease-in-out;
        }
    }
}

.menu-item{
    flex-direction: column;
    margin: 5px 0px;
    border-radius: 5px;
}

.menu-item-details{
    margin-bottom: 5px;
}

input.card-input{
    height: 25px;
    border-radius: 3px;
    border: 1px solid black;
    &[type=text]{
        outline: none;
        &:not(.error){
            &:focus,&:active,&:hover{
                border: 1px solid var(--color-main);
            }
            &:focus{
                box-shadow: 0 0 3px var(--color-main);
            }
        }
        &.error{
            border-color: var(--color-error);
            box-shadow: 0 0 3px var(--color-error);
        }
    }
}

.e-card-btn{
    font-size: 14px;
    border-radius: 3px;
    color: white;
    border: 3px solid var(--color-main);
    background-color: var(--color-main);
    &:active{
        transform: translate(1.5px, 1.5px);
        transition: all .5s;
    }
}

.async-btn{
    &.error{
        border-color: var(--color-error);
        background-color: var(--color-error);
    }
}

.menu-classifications-cont{
    width: 100%;
    margin: 15px 0px 5px 0px;
}

.classifications-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.classifications-list-cont{
    width: 100%;
    margin: 10px 5px;
}

.classification-type-wrap{
    background-color: rgb(203, 255, 195);
    padding: 5px 10px;
    margin: 2px 5px;
    border-radius: 5px;
}

.loading-spinner{
    width: 15px;
    height: 15px;
    border: 3px solid white;
    border-bottom: 2px solid white;
    border-left: 1px solid white;
    border-top: 3px solid transparent;
    border-radius: 50%;
    animation: spin .4s linear 0s infinite;
}

//qr code component related.
.qr-code-preview-container{
    width: max-content;
}

//state switch component related.
.state-switch-cont{
    margin: auto;
    width: max-content;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 3px;
}

.state-cont{
    padding: 5px;
    &:not(:last-child){
        border-right: 1px solid black;
    }
    &:last-child{
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
    }
    &:first-child{
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
    }
    &[active]{
        background-color: aquamarine;
    }
}

//input field customization related.
input{
    &.mini-size{
        height: 18px;
    }
}

.label_small{
    font-size: 11px;
}

.width_medium{
    min-width: 100px;
}