@import "variables";
@import "default";

/* App styles starting here!!! */
.header{
    height: 50px;
    width: 100%;
    background-color: var(--color-main);
    color: white;
    text-align: center;
    font-size: larger;
}

.header-title{
    padding: 15px 0px;
}

.main-container{
    height: calc(100% - 50px);
}

.home-page-cont{
    text-align: center;
}

.home-page-content-wrapper{
    height: 70%;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    vertical-align: middle;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    margin: auto;
}

.card-type-list-cont{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}

.upcoming-card-types{
    display: flex;
    flex: 2;
    flex-direction: column;
    align-content: space-evenly;
}

ul.link li{
    height: max-content;
    @include linkButton();
}

.upcoming-card-type-list-cont{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.upcoming-types-text{
    padding: 5px;
    font-style: italic;
    font-size: 16px;
}

// Menu card creation styles
.create-menu-form-cont{
    display: flex;
    align-content: center;
    justify-content: center;
    overflow-y: auto;
}

.create-menu-form{
    height: 90%;
    width: 90%;
    max-width: 500px;
    margin: auto;
    padding: 10px;
    border: 1px var(--color-main) solid;
    box-shadow: 0 0 10px var(--color-main);
    border-radius: 5px;
    overflow-y: auto;
}

input.card-input{
    height: 25px;
    border-radius: 3px;
    border: 1px solid black;
    &[type=text]{
        &:focus,&:active,&:hover{
            outline: none;
            border: 1px solid var(--color-main);
        }
        &:focus{
            box-shadow: 0 0 3px var(--color-main);
        }
    }
}

.e-card-btn{
    font-size: 14px;
    border-radius: 3px;
    color: white;
    border: 3px solid var(--color-main);
    background-color: var(--color-main);
    &:active{
        transform: translate(1.5px, 1.5px);
        transition: all .5s;
    }
}

.async-btn{
    &.error{
        border-color: var(--color-error);
        background-color: var(--color-error);
    }
}

.loading-spinner{
    width: 15px;
    height: 15px;
    border: 3px solid white;
    border-bottom: 2px solid white;
    border-left: 1px solid white;
    border-top: 3px solid transparent;
    border-radius: 50%;
    animation: spin .4s linear 0s infinite;
}