*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    margin: 0px;
}

a{
    text-decoration: none;
    &:-webkit-any-link{
        color: unset;
    }
}

a,button{
    cursor: pointer;
}

button{
    &[disabled]{
        cursor: not-allowed;
        pointer-events: none;
    }
}

p, ul{
    margin-block-start: 0px;
    margin-block-end: 0px;
}

ul{
    padding-inline-start: 0px;
}

/* Common styles to resue!!! */
.full_size{
    height: 100%;
    width: 100%;
}
/* .no_default_style this class will be used to remove the default style of that elements */
ul.no_default_style{
    list-style-type: none;
}

.w_{
    &100{
        width: 100%;
    }
    &60{
        width: 60%;
    }
    &20{
        width: 20%;
    }
}

.m_{
    &a{
        margin: auto;
    }
    &l_{
        &2{
            margin-left: 2px;
        }
        &5{
            margin-left: 5px;
        }
    }
    &b_{
        &10{
            margin-bottom: 10px;
        }
    }
    &t_{
        &5{
            margin-top: 5px;
        }
    }
}

.f_r{
    float: right;
}

.disp_inline{
    display: inline-block;
}

.v_align_m{
    vertical-align: middle;
}

.t_align_c{
    text-align: center;
}