:root{
    --color-main: rgb(52, 255, 167);
    --color-text-main: black;
    --color-text-main-invert: white;
    --color-error: rgb(255, 59, 59);
}

@mixin linkHoverEffect($bgColor) {
    &:hover{
        transition: all .3s;
        background-color: $bgColor;
        color: var(--color-text-main-invert);
    }
}

@mixin linkButton {
    width: max-content;
    padding: 10px 20px;
    border-radius: 5px;
    @include linkHoverEffect(var(--color-main));
}

@keyframes spin {
    from {
      transform: rotate(0);
    }
    to{
      transform: rotate(359deg);
    }
  }
  