<p class="qr-code-text">QR Code</p>
<div class="qr-code-preview">
    <img class="qr-code-img" src={{@data}}/>
</div>
<div class="qr-code-preview-options">
    <a download="qr-code.png" href={{@data}}>Download</a>
</div>
{{yield}}