<div class="home-page-cont full_size">
    <div class="home-page-content-wrapper">
        <ul class="card-type-list-cont link no_default_style">
            <li><LinkTo @route="menu-card.create">Menu Card</LinkTo></li>
        </ul>
        <div class="upcoming-card-types">
            <p class="upcoming-types-text">Coming soon...</p>
            <ul class="upcoming-card-type-list-cont link no_default_style">
                <li>Visting Card</li>
                <li>Greeting Card</li>
            </ul>
        </div>
    </div>
</div>
{{outlet}}